/*todo:换scss*/
.form-container {
    margin: 100px auto 0;
    width: 700px;
    padding: 50px 90px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(9, 34, 53, 0.10);
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

.form-container label {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

.form-container button {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

.form-container input {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

.form-container h2 {
    padding-bottom: 25px;
}

.form-container .form-item {
    margin-bottom: 20px;
}

.form-container .form-item .ant-form-item-label {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
}

.form-container .operator-button {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background-color: #008bf7;
}

.form-container .form-input {
    height: 50px;
    padding-left: 20px;
    line-height: 24px;
    font-size: 14px;
    color: #092235;
    border: 1px solid #9ca6ae;
    border-radius: 2px;
}

.form-container .form-input:hover {
    border: 1px solid #008BF7;
}

.form-container .captions a {
    color: #008bf7;
    text-decoration: underline;
}

.form-container .middle-captions {
    margin-bottom: 20px;
    display: inline-block;
}

.form-container .captions a:hover {
    color: #008bf7;
}
