.auth-container {
  padding-top: 70px;
  display: flex;
  flex-flow: column;
  min-height: calc(100vh);
  background-image: url("../images/login-bg.png");
  background-size: cover;
  main {
    flex: 1;
    padding: 0 calc(50vw - 350px);
    .form-wrapper {
      margin-top: 100px;
    }
  }
}

.form-container.form-container {
  padding: 50px 90px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(9, 34, 53, 0.10);
  border-radius: 4px;
  h2 {
    padding-bottom: 25px;
  }
  .form-item {
    margin-bottom: 20px;
    .ant-form-item-label {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 5px;
    }
  }
  .form-input {
    padding-left: 20px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 2px;
  }
  .middle-captions {
    margin-bottom: 20px;
    display: inline-block;
    a {
      text-decoration: underline;
    }
  }
  .operator-button {
    width: 100%;
    height: 50px;
  }
  .footer-link {
    display: flex;
    color: #092235;
    text-decoration: none;
  }
  .region-select.region-select.region-select {
    width: 30.8%;
    .ant-select-selection-selected-value, .ant-select-selection {
      height: 50px;
      line-height: 50px;
    }
    .ant-select-selection__rendered {
      margin-left: 20px;
    }
  }
  .drop-down {
    background-color: #fff;
    color: #092235;
    font-weight: normal;
    border-radius: 2px !important;
    &:hover, &:focus {
      color: #008bf7;
      background-color: #fff;
    }
  }
  .get-message-button {
    color: #008bf7;
    width: 153px !important;
    height: 50px;
    line-height: 24px;
    border: 1px solid #9ca6ae !important;
    &:disabled {
      color: #9ca6ae;
      border-color: #d9d9d9 !important;
    }
    &:disabled:hover, &:disabled:active {
      border-color: #d9d9d9 !important;
      background-color: #f5f5f5 !important;
    }
  }
  .ant-input-group:hover {
    .ant-input {
      border: 1px solid #008bf7;
    }
    .ant-btn:not(:disabled) {
      border-style: solid;
      border-color: #008bf7 #008bf7 #008bf7 #9CA6AE;
    }
    .ant-btn:hover:not(:disabled), .ant-btn:focus:not(:disabled) {
      border-color: #008bf7 #008bf7 #008bf7 #008bf7;
      background-color: white;
    }
  }
  .ant-input-group {
    .ant-btn:hover, .ant-btn:focus {
      background-color: white;
    }
  }
  .has-error {
    .ant-input-group:hover {
      .ant-input {
        border: 1px solid #f70000;
      }
    }
    .ant-input:focus {
      border-color: #f70000;
    }
  }
  .ant-input:focus {
    box-shadow: none;
  }
}

.ant-input-group.ant-input-group-compact > *:last-child, .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection, .ant-input-group.ant-input-group-compact > .ant-calendar-picker:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-mention-wrapper:last-child .ant-mention-editor, .ant-input-group.ant-input-group-compact > .ant-time-picker:last-child .ant-time-picker-input {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right-width: 1px;
}

.ant-input-group.ant-input-group-compact > *:first-child, .ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selection, .ant-input-group.ant-input-group-compact > .ant-calendar-picker:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-mention-wrapper:first-child .ant-mention-editor, .ant-input-group.ant-input-group-compact > .ant-time-picker:first-child .ant-time-picker-input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

