html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    color: #092235;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif!important;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

p, span, a, li {
    font-size: 14px;
    line-height: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    background-color: #008bf7;
}

a, a:hover {
    color: #008bf7;
}

input {
    border: #9ca6ae;
}

::-moz-placeholder {
    color: #9ca6ae;
}

::-webkit-input-placeholder {
    color: #9ca6ae;
}

:-ms-input-placeholder {
    color: #9ca6ae;
}
