.skill-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 70px);
  main {
    width: 100%;
    flex: 1;
    .ant-input {
      text-indent: 10px;
    }
    .ant-select {
      text-indent: 10px;
    }
    textarea {
      padding-top: 13px;
    }
  }
  footer {
    display: flex;
    padding: 25px calc(50vw - 350px);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    .ant-btn {
      height: 50px;
      width: 160px;
    }
    p {
      color: #008bf7;
      cursor: pointer;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
  .error-tip {
    margin-top: 7px;
    color: #f70000;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}



.upload-certificate-container {
  .upload-wrapper {
    display: flex;
    margin-bottom: 50px;
    .upload-item-wrapper {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
      p {
        margin-top: 10px;
        text-align: center;
      }
      .ant-upload {
        width: 220px;
        height: 138px;
        background-color: #fff;
      }
      .anticon {
        font-size: 25px;
        color: #008bf7;
      }
    }
  }
  .introduction {
    margin-bottom: 10px;
  }
}

.ant-btn {
  border-color: #008bf7;
}

.upload-item-wrapper {
  .ant-upload {
    img {
      width: 202px;
      height: 122px;
    }
  }
}
