.input-position-container {
  .select-container {
    display: flex;
    .select-item {
      width: 220px;
      margin-right: 20px;
    }
  }
  p:not(:first-child) {
    margin-top: 20px;
  }
  p {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
