.input-work-time-container {
  display: flex;
  div {
    position: relative;
    flex: 1;
    padding-top: 23px;
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #f2f6f6;
    &:hover {
      background-color: #f6f8f9;
    }
    &:nth-of-type(n+1):nth-of-type(-n+2) {
      border-right-color: transparent;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
      margin-top: 5px;
    }
    i {
      color: #fff;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      position: absolute;
      top: 0;
      right: 1px;
    }
  }
  .checked-time-item {
    border-color: #008bf7 !important;
    background: linear-gradient(-135deg, #008bf7 25px, #fff 0);
    &:hover {
      background: linear-gradient(-135deg, #008bf7 25px, #f6f8f9 0);
    }
  }
}