.search-container {
  padding-top: 60px;
  width: 1060px;
  margin: 0 auto;
  .search-input {
    height: 70px;
    border: 1px solid #dde6ec;
    box-shadow: 0 5px 20px 0 rgba(9, 34, 53, 0.10);
  }
}