.search-service-container {
  padding-top: 60px;
  width: 1060px;
  margin: 0 auto;
  .search-input {
    height: 70px;
    .ant-input {
      text-indent: 30px;
      font-size: 14px;
      line-height: 24px;
      border: 1px solid #DDE6EC;
      box-shadow: 0 5px 20px 0 rgba(9, 34, 53, 0.10);
    }
    .ant-input-suffix {
      padding-right: 10px;
    }
    .ant-btn {
      width: 148px;
      height: 50px;
      border-radius: 2px;
    }
  }
  .icon-list-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .logo-item-container {
      margin-right: 20px;
    }
  }

  .introduce-container {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    .introduce-card {
      position: relative;
      width: 340px;
      height: 220px;
      border-radius: 4px;
      img {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      h3 {
        margin: 110px 0 10px 30px;
      }
      p {
        margin: 0 auto;
        width: 280px;
      }
    }
    div:first-of-type {
      background-image: linear-gradient(-135deg, #F1E8E3 0%, #DFCDC3 100%);
    }
    div:nth-of-type(2) {
      background-image: linear-gradient(-135deg, #D6E5E8 0%, #BACDD1 100%);
    }
    div:nth-of-type(3) {
      background-image: linear-gradient(-135deg, #F4EDD4 0%, #EEDEAB 100%);
    }
  }
}