.im-container {
  height: calc(100vh - 90px);
  display: flex;
  flex-flow: column;
  .im-top-wrapper {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .im-content-wrapper {
    flex: 1;
    overflow-y: auto;
  }
  .im-input-wrapper {
    height: 200px;
    .icon-wrapper {
      display: flex;
      flex-flow: row-reverse;
      .anticon-enter {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        color: white;
        cursor: pointer;
        line-height: 40px;
        font-size: 20px;
        border-radius: 50%;
        background: #008bf7;
      }
    }
  }
  .im-message-left-wrapper {
    margin-bottom: 30px;
    display: flex;
    img {
      margin-right: 20px;
      border-radius: 50%;
    }
    .im-message-top-info {
      display: flex;
      justify-content: space-between;
    }
    .im-message-nickname {
      font-weight: bold;
      color: #2c272d;
    }
    .im-message-time {
      color: #9ca6ae;
      text-align: right;
    }
    .im-message-content {
      padding: 10px;
      width: 300px;
      font-size: 14px;
      line-height: 20px;
      color: white;
      background: #EDF1F4;
      border-radius: 0 8px 8px 8px;
    }
  }
  .im-message-right-wrapper {
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 30px;
    .im-message-time {
      color: #9ca6ae;
      text-align: right;
    }
    .im-message-content {
      padding: 10px;
      width: 300px;
      font-size: 14px;
      line-height: 20px;
      color: white;
      background: #008BF7;
      border-radius: 8px 8px 0 8px;
    }
  }
}