@primary-color: #008bf7;

@font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
"Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

@error-color: #f70000;

@item-active-bg: #007DDE;
@item-hover-bg: #007DDE;

@btn-border-radius-base: 2px;

@input-border-color: #9ca6ae;
@input-height-base: 50px;
@input-hover-border-color: #008bf7;

@heading-color: #092235;

@link-decoration: 'underline';
@link-hover-color: #007dde;
@link-hover-decoration: 'underline';

@text-color: #092235;
@text-color-secondary: #9ca6ae;

.ant-btn-primary {
  &:hover, &:focus {
    background-color: #007dde;
    border-color: #007dde;
  }
}

.ant-btn {
  border-color: #9ca6ae;
  &:hover, &:focus {
    background-color: #007dde;
    border-color: #007dde;
  }
}

.ant-input {
  &:focus {
    box-shadow: none;
    border-color: #008bf7;
  }
  &:hover {
    border-color: #008bf7;
  }
}

.ant-select-selection {
  border-color: #9ca6ae;
  &:hover, &:focus, &:active {
    border-color: #008bf7;
  }
  &:focus {
    box-shadow: none;
  }
}

ol, ul, dl, p {
  margin-bottom: 0;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.ant-message-notice-content {
  padding: 0;
  box-shadow: none;
  .ant-message-custom-content {
    color: #fff;
    padding: 15px 30px;
    background: #008BF7;
    box-shadow: 0 10px 20px 0 rgba(0,139,247,0.25);
    border-radius: 100px;
  }
  .ant-message-error {
    background: #F70000;
    box-shadow: 0 10px 20px 0 rgba(247,0,0,0.25);
  }
  .anticon {
    display: none;
  }
}
