.profile-container {
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 70px);
  main {
    flex: 1;
    padding: 0 calc(50vw - 350px);
  }
  footer {
    display: flex;
    padding: 25px calc(50vw - 350px);
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
}