.list-page-container {
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 70px);
  main {
    padding: 30px calc(50vw - 530px);
    .title-wrapper {
      display: flex;
      margin-bottom: 20px;
      h2 {
        margin-right: 10px;
        color: #9ca6ae;
        cursor: pointer;
      }
      .checked-title {
        color: #092235;
      }
    }
    .need-list-item-wrapper {
      border: 1px solid #edf1f4;
      margin-bottom: 20px;
      .need-list-item-title-wrapper {
        padding: 20px 30px;
        border-bottom: 1px solid #edf1f4;
        background-color: #f6f8f9;
        .need-list-item-title {
          margin-right: 10px;
          font-weight: bold;
        }
        .need-list-item-date {
          color: #9ca6ae;
        }
      }
      .need-list-item-content-wrapper {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        .need-list-item-content {
          img {
            border-radius: 50%;
            position: relative;
          }
          .need-list-avatar-container {
            display: flex;
            align-items: center;
            .need-list-avatar-wrapper {
              display: flex;
              flex-flow: row-reverse;
              img:not(:last-of-type) {
                margin-left: -10px;
              }
            }
          }
        }
        .need-list-item-operate {
          color: #008bf7;
          display: flex;
          align-items: center;
          span {
            cursor: pointer;
          }
        }
      }
    }
    .service-list-item-container {
      margin-bottom: 20px;
      border: 1px solid #edf1f4;
      .service-list-item-top-wrapper {
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #edf1f4;
        background-color: #f6f8f9;
        .info {
          font-size: 0;
        }
        .service-list-item-title {
          font-weight: bold;
          margin-right: 10px;
        }
        .service-list-item-date {
          color: #9ca6ae;
        }
        .service-list-item-operate {
          cursor: pointer;
          color: #008bf7;
        }
      }
      .service-list-item-content-wrapper {
        display: flex;
        .left, .middle, .right {
          margin-top: 30px;
          margin-bottom: 30px;
          padding-left: 30px;
          padding-right: 30px;
        }
        .left {
          flex: 0 0 350px;
          .name {
            margin-top: 20px;
            margin-bottom: 3px;
            font-weight: bold;
          }
          .left-avatar-wrapper {
            display: flex;
            justify-content: space-between;
            img {
              border-radius: 50%;
            }
          }
          .rate-wrapper {
            display: flex;
            align-items: center;
            .iconfont {
              font-size: 14px;
            }
            .rate {
              font-weight: bold;
              margin-left: 10px;
              margin-right: 8px;
            }
            .evaluation {
              color: #9ca6ae;
            }
          }
          .date {
            margin-top: 24px;
          }
        }
        .middle {
          flex: 0 0 359px;
          border-left: 1px solid #edf1f4;
          border-right: 1px solid #edf1f4;
          .price {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
          }
          .tip {
            color: #9ca6ae;
          }
          .information {
            margin-top: 20px;
          }
        }
        .right {
          flex: 0 0 349px;
          text-align: center;
          img {
            margin-bottom: 20px;
          }
          .ant-btn {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 290px;
            height: 50px;
          }
          .cancel-order {
            cursor: pointer;
            color: #008bf7;
          }
          .delete-order {
            cursor: pointer;
            color: #f70000;
          }
          .payed {
            margin-top: 30px;
          }
          .recall {
            cursor: pointer;
            color: #008bf7;
          }
        }
      }
      .service-list-item-message-wrapper {
        display: flex;
        align-items: center;
        .icon-message {
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }
    .list-page-load-more {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #008bf7;
      .iconfont {
        cursor: pointer;
        font-size: 20px;
        margin-right: 10px;
      }
      span {
        cursor: pointer;
      }
    }
  }
}