.post-demand-container {
  .content-wrapper {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 70px);
    .ant-progress-bg {
      height: 5px !important;
    }
    textarea.ant-input {
      padding: 20px !important;
    }
  }
  main {
    flex: 1;
    padding: 0 calc(50vw - 350px);
  }
  .template-wrapper {
    .template-content {
      margin-top: 50px;
      .multi-tip {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
      }
      .form-item-wrapper {
        margin-top: 50px;
        .ant-select {
          margin-bottom: 20px;
          width: 100%;
        }
        p {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
        }
        .ant-checkbox-group-item {
          margin-bottom: 20px;
          display: block;
        }
        .date-container {
          width: 700px;
        }
      }
      .button-wrapper {
        margin-top: 20px;
        margin-bottom: 50px;
        .ant-btn-primary {
          width: 160px;
          height: 50px;
        }
      }
    }
  }
  .match-result-container {
    h2 {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 456px;
    }
    .match-result-card-item-wrapper {
      display: flex;
      flex-wrap: wrap;
      .match-result-card-item {
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 1px solid #edf1f4;
        cursor: pointer;
        width: 160px;
        text-align: center;
        &:hover {
          background-color: #f6f8f9;
        }
        &:not(:nth-of-type(4n+4)) {
          margin-right: 20px;
        }
        img {
          border-radius: 50%;
        }
        .name {
          margin-top: 10px;
          font-weight: bold;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
  .post-demand-footer-container {
    padding: 25px calc(50vw - 350px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .ant-btn {
      width: 160px;
      height: 50px;
    }
    p {
      color: #008bf7;
      cursor: pointer;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
  .service-location-container {
    .select-container {
      display: flex;
      .skill-select-item {
        width: 220px;
        margin-right: 20px;
        &:nth-of-type(3n+3) {
          margin-right: 0;
        }
      }
      .select-wrapper {
        p {
          margin-bottom: 10px;
          font-weight: bold;
        }
      }
    }
    .ant-select {
      width: 100%;
    }
  }
  .footer {
    padding: 25px calc(50vw - 350px);
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .ant-btn {
      width: 160px;
      height: 50px;
    }
    p {
      color: #008bf7;
      cursor: pointer;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}